{
  "extends": ["react-app"],
  "rules": {
    // other rules...

    // Disable "==" and "!=" operators
    "eqeqeq": "off",
    "no-eq-null": "off",
    "no-unused-vars": "off",
    "react-hooks/exhaustive-deps": "off",
    "jsx-a11y/anchor-is-valid": "off"
  }
}
