.fondo-celular-response{
    display: none;
}
.response-form{
    width: 40%;
}
.container-form {
    background-image: url('../assets/FondoCompletoCelular-removebg-preview.png');
    background-position: left; 
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen and (max-width: 1024px) {
    .container-form {
        background-image: none;
    }
    .response-login-imagen{
        display: none;
    }
    .response-form{
        margin-top: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
    }
    .main-response{
        background-color: #FBFCF8;
        overflow-x: hidden;
        padding: 0;
        overflow-y: hidden;
    }
    .ocultar-response-login{
        display: none;
    }
    .response-login-form{
        width: 100%;
        
    }
    .response-login-form h1{
        font-size: 20px;
    }
    .fondo-celular-response{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; /* Ajusta el ancho como necesites */
        height: auto; /* Mantiene la proporción de la imagen */
    }
  }