@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Montserrat:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color: #FAF9F6;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  
  .placeholder-black::placeholder {
    color: black;
  }
  
  .placeholder-black-dk::placeholder {
    color: rgba(255, 255, 255, 0.60);
  }
  
  /********* Dark Mode Login *******/
  
  .dark {
    background-color: #141414;
    color: white;
  }
  
  .dark-bg {
    background-color: #000000;
  }
  
  .dark-text {
    color: rgb(0, 0, 0);
  }
  
  .dark-text-white {
    color: #FFF;
  }
  
  .dark-button{
    background-color: #FFF;
  }
  
  .dark-button-login {
    background-color: #000000;
    border: 1px solid #FFFFFF;
  }
  
  /********* Dark Mode Register *******/
  
  .dark-register-bg {
    background-color: #141414;
  }
  
  .dark-register-bt {
    background-color: #141414;
    color: rgba(255, 255, 255, 0.60);
  }
  
  .dark-register {
    background-color: #1B1B1B;
  }
  
  .dark-login-ig{
    color: rgba(255, 255, 255, 0.60);
  }
  
  .active-buttonH{
    font: bold;
    text-align: left;
  }

  .active-buttonD{
    font: bold;
    text-align: left;
  }

  .active-buttonD i::after,
  .active-buttonH i::after {
  content: "";
  display: block;
  width: 130%;
  border-radius: 5px;
  transform: translateX(-11%);
  height: 5px; /* Altura de la barra debajo del ícono */
  background-color: #000000; /* Color de la barra */
  margin-top: 5px; /* Espaciado entre el ícono y la barra */
  transition: height 0.3s ease; /* Transición suave de la altura */
  }

  .contain-all{
    margin-right: 38%;
  }

  .prevent-word-break {
    overflow-wrap: break-word;
  }

  /********* Dark Mode Home *******/
  .dark-login-bg{
    background: #1B1B1B;
  }

  /********* Dark Mode Profiles *******/

  .bg-profile-img {
    background: #565555;
  }

  .placeholder-black-p{
    color: #FFF;
  }

  .placeholder-black-p::placeholder {
    color: rgba(255, 255, 255);
  }

  .dark-border-white{
    border-color: #FFF;
  }

  .label-profile{
    background: rgba(125, 125, 125, 0.6);
  }

  .label-profile:hover{
    background: rgba(125, 125, 125, 0.2);
  }

 /********* Tab view *******/

 .tab-indicator {
  position: relative;
  bottom: 0;
  left: 0;
  width: auto;
  height: 3px; /* Altura de la línea */
  background-color: rgb(64, 64, 236); /* Color de la línea */
  border-top-left-radius: 5px; /* Borde superior izquierdo redondeado */
  border-top-right-radius: 5px; /* Borde superior derecho redondeado */
  transform-origin: center;
  transition: transform 0.3s ease-in; /* Agrega una animación de transición */
}


/** Responsive **/
.navbar{
  width: auto;
}

.bottombar{
  display: none;
}

.contain-principal{
  display: flex;
}

.input-style:focus {
  outline-color: #688BFF;
}

.post-container {
  display: flex;
  flex-direction: column;
  transform: translateX(26%); 
}

.button-style{
  background: linear-gradient(267deg, #8E1DA1 0%, #2D015A 100%);
}

.post-empresa{
  display: flex;
  flex-direction: column;
  transform: translateX(-19%);
}

.opacity{
  opacity: 20%;
}

@media (max-width: 768px) {
  .post-search{
    margin-left: 4%;
  }
  .search-txt{
    width: 90%;
  }
  .bottombar{
    display: block;
    bottom: 0;
    position: fixed;
  }
  .respohidden{
   display: none; 
  }
  .create-postem{
    width: 96%;
    margin-left: 2%;
    margin-right: 0;
    margin-top: -20px;
    padding-right: 0;
    padding-left: 0;
  }
  .contain-begin{
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .contain-principal-begin{
    margin-left: 10%;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    flex-wrap: wrap;
  }
  .imagenresponb{
    margin-right: 27%;
  }
  .contain-principal-begin > h1{
    font-size: 50px;
  }
  .contain-principal{
    width: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
  }
  .p-fa{
    margin-left: 0;
    margin-right: 2px;
    padding-left: 0;
    padding-right: 0;
  }
  .margin-top{
    margin-top: 0;
    padding-top: 0;
  }
  .sidebar1 {
    display: none;
  }
  
  .active-buttonH{
    position: relative;
    width: 100%;
  }
  .active-buttonD{
    position: relative;
    width: 100%;
  }
  .sidebarcontain{
    width: 100%;
  }
  .create-post{
    width: 96%;
    margin-left: 2%;
    margin-right: 0;
    margin-top: -20px;
    padding-right: 0;
    padding-left: 0;
  }
  .margin-rightmove{
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .post-post{
    width: 96%;
    margin-left: 2%;
    margin-right: 0;
    margin-bottom: 2%;
    margin-top: 0%;
    padding-right: 0;
    padding-left: 0;
  }
  .post-container {
    flex-direction: row;
    flex-wrap: wrap;
    transform: translateX(0%);
  }
  .post-empresa{
    flex-direction: row;
    flex-wrap: wrap;
    transform: translateX(0%);
  }
  .modalres{
    width: 94%;
  }
  .textareares{
    width: 92%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .iconeres{
    margin-top: 1%;
    font-size: 200%;
  }
  .bottombar{
    display: block;
    bottom: 0;
    position: fixed;
  }
  .respohidden{
   display: none; 
  }
  .create-postem{
    width: 96%;
    margin-left: 2%;
    margin-right: 0;
    margin-top: -20px;
    padding-right: 0;
    padding-left: 0;
  }
  .contain-begin{
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .contain-principal-begin{
    margin-left: 10%;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    flex-wrap: wrap;
  }
  .imagenresponb{
    margin-right: 27%;
  }
  .contain-principal-begin > h1{
    font-size: 50px;
  }
  .contain-principal{
    width: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
  }
  .p-fa{
    margin-left: 0;
    margin-right: 2px;
    padding-left: 0;
    padding-right: 0;
  }
  .margin-top{
    margin-top: 0;
    padding-top: 0;
  }
  .sidebar1 {
    display: none;
  }
  
  .active-buttonH{
    position: relative;
    width: 100%;
  }
  .active-buttonD{
    position: relative;
    width: 100%;
  }
  .sidebarcontain{
    width: 100%;
  }
  .create-post{
    width: 96%;
    margin-left: 2%;
    margin-right: 0;
    margin-top: -20px;
    padding-right: 0;
    padding-left: 0;
  }
  .margin-rightmove{
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .post-post{
    width: 96%;
    margin-left: 2%;
    margin-right: 0;
    margin-bottom: 2%;
    margin-top: 0%;
    padding-right: 0;
    padding-left: 0;
  }
  .post-container {
    flex-direction: row;
    flex-wrap: wrap;
    transform: translateX(0%);
  }
  .post-empresa{
    flex-direction: row;
    flex-wrap: wrap;
    transform: translateX(0%);
  }
  .modalres{
    width: 94%;
  }
  .textareares{
    width: 92%;
  }
}